//color
$Color: #F4F6FB;
$BtnColor: #1E22AA;
$btnHoverColor: #090C7C;
$blue2: #0007FF;
$chatColor:#222222;
$chatColorTitle:#999999;
$chatColorText:#CCCCCC;
$bgChat:#141414;
//font
$MainFont: 'Proxima Nova Regular';

